@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --easy-cookies-main-color: #009bde;
    --easy-cookies-border-radius: 10px;
}

#easy-opt-cookies {
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    left: 25px;
    right: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0 3px 8px;
    border-radius: var(--easy-cookies-border-radius);
    width: 100%;
    max-width: 330px;
    overflow: hidden;
    box-sizing: border-box;
}

.easy-cookies-content {
    max-height: 290px;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

.easy-cookies-title,
.easy-cookies-description {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.easy-cookies-title {
    font-size: 20px;
}

.easy-cookies-description {
    font-size: 14px;
}

.easy-cookies-link {
    color: var(--easy-cookies-main-color);
    text-decoration: none;
    font-family: 'Poppins',
        sans-serif;
}

.easy-cookies-link:hover {
    text-decoration: underline;
}

.easy-cookies-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    box-sizing: border-box;
}

.easy-cookies-button {
    background-color: #fff;
    border: 2px solid var(--easy-cookies-main-color);
    color: var(--easy-cookies-main-color);
    padding: 10px;
    border-radius: var(--easy-cookies-border-radius);
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins',
        sans-serif;
    width: 100px;
}

.easy-cookies-accept {
    background-color: var(--easy-cookies-main-color);
    color: #fff;
}


/* Modal styles */
#easy-opt-cookies-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    padding-top: 0;
}

#easy-opt-cookies-modal.easy-opt-modal-active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.12) 0 3px 8px;
    max-width: 350px;
    border-radius: var(--easy-cookies-border-radius);
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 60vh;
}

.easy-cookies-modal-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: sticky;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    top: -1px;
    padding: 15px;
    box-sizing: border-box;
    z-index: 999999;
}

.easy-cookies-modal-title {
    font-size: 18px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.easy-cookies-modal-description {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    flex-basis: 80%;
    padding: 0 20px;
}

.easy-cookies-modal-close {
    width: 30px;
    cursor: pointer;
}

.easy-cookies-modal-types {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    padding-bottom: 20px;
}

.easy-cookies-modal-type {
    padding: 15px;
    border: 1px solid #f1f1f1;
    border-radius: var(--easy-cookies-border-radius);
}

.easy-cookies-modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.easy-cookies-modal-content .easy-cookies-modal-description {
    padding: 0;
}

.easy-cookies-modal-name {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.easy-cookies-modal-button {
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 35px;
    border: none;
    outline: none;
    position: relative;
    transition: 0.3s all ease-in-out;
}

.easy-cookies-modal-button-active {
    background-color: var(--easy-cookies-main-color);
}

.easy-cookies-modal-button-active:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
}

.easy-cookies-modal-button-disabled {
    background-color: #E7E7E7;
    color: #fff;
}

.easy-cookies-modal-button-disabled:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
}

/* Media queries */
@media(min-width: 768px) {
    #easy-opt-cookies {
        right: auto;
    }

    .easy-cookies-content {
        margin-bottom: 64px;
    }
}

@media(min-width: 1024px) {
    #easy-opt-cookies {
        max-width: 550px;
    }

    #easy-opt-cookies-modal.easy-opt-modal-active {
        max-width: 550px;
        height: 600px;

    }

    .easy-cookies-button {
        width: 160px;
    }
}